.main-wrapper {
    padding-bottom: 20px;
}

.gallery-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}
.gallery-desc .desc {
    font-size: 18px;
    font-weight: 500;
}
.gallery-desc .stats {
    font-size: 18px;
    font-weight: 500;
    color: #888;
}

.pagination {
    display: flex;
    justify-content: center;
    
    -webkit-box-shadow: 0px 0px 13px 1px rgba(220,220,220,1);
    -moz-box-shadow: 0px 0px 13px 1px rgba(220,220,220,1);
    box-shadow: 0px 0px 13px 1px rgba(220,220,220,1);
    
    width: fit-content;
    
    margin: 20px auto;
}
.pagination .prev-page,
.pagination .next-page {
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    cursor: pointer;

    font-size: 19px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.pagination .next-page {
    border-radius: 0 15px 15px 0;
    border-left: 0;
}
.pagination .prev-page.disabled,
.pagination .next-page.disabled {
    cursor: not-allowed;
    color: #999;

    user-select: none;
    pointer-events: none;
}

#pagination-pages {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    padding: 5px 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #666;
    font-size: 19px;
    font-weight: 500;
}

.pagination select {
    padding: 10px 15px;

    border: 1px solid var(--border-color);
    border-radius: 15px 0 0 15px;

    font-size: 19px;
    font-weight: 500;
}