<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Wildlife Cam Kit - naturebytes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css"
    />
    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="/static/assets/favicon.webp" type="image/x-icon" />
  </head>
  <body>
    <div class="main-wrapper">
      <div class="logo">
        <a href="">
          <img src="static/assets/logo.svg" alt="" />
        </a>
      </div>
      <div class="container">
        <div class="livestream">
          <div class="title">Your Camera Livestream</div>
          <div class="main-box">
            <img src="{{ url_for('video_feed') }}" alt="" id="livestream" />
            <div class="timer">
              <img src="/static/assets/record.svg" alt="" class="icon">

              <span>24:01:45</span>
            </div>
            <div class="maximize-screen icon" onclick="toggleFullscreen()">
              <img src="/static/assets/maximize.svg" alt="" width="30px">
            </div>
            <div class="btn-sec">
              <div class="play-btn icon">
                <img src="/static/assets/play.svg" alt="">
              </div>
            </div>
          </div>
          <div class="btn-all-item">

            <a href="{{url_for('capture_video')}}">
            <div class="c-item">
              <img src="/static/assets/video.svg" alt="">
              <span>Capture video</span>
            </div>
            </a>

            <a href="{{url_for('capture_image')}}">
            <div class="c-item">
              <img src="/static/assets/camera.svg" alt="">

              <span>Capture Image</span>
            </div>
            </a>

            <a href="{{url_for('stop_camera')}}">
            <div class="c-item">
              <img src="/static/assets/stop.svg" alt="">
              
              <span>Stop camera</span>
            </div>
          </a>
          
          <a href="{{url_for('watch_live')}}">
            <div class="c-item">
              <img src="/static/assets/flip.svg" alt="">
              <!-- TODO: rotate and move to setting
                Try 90 degrees 
              -->
              <span>flip camera</span>
            </div>
          </a>

            <div class="c-item watch-live">
              <img src="/static/assets/live.svg" alt="">
              
              <span>Watch live</span>
            </div>
          </div>
        </div>

        <div class="aside">
          <div class="testing">
            <div class="head-title">Testing & Settings</div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Test Camera Unit</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Test PIR Sensor</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Camera Settings</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                <!-- Move it somewhere else -->
                  <div class="name">Restart Camera</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
              </div>
            </div>
          </div>
        
          <div class="help">
            <div class="head-title">Help & Assembly Guides</div>

            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Assembly Guides</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
                <div class="download-assembly">
                  <img src="static/assets/pdf.svg" alt="" />
                  <!--
                    TODO: Do we upload the pdf to the RPi? 
                          On one hand it takes up space,
                          on the other hand it might be better to have it locally then to rely on the user being able to connect to the internet
                    Ans: have it on the sd card probably
                  -->
                  <a href="https://example.com" target="_blank">Download Assembly Guide</a>
                </div>
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Troubleshooting & Tips</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
                <b>Is something broken? Here's how to fix it..</b>
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">naturebytes online shop</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
                <a href="https://shop.naturebytes.org/products/wildlife-cam-kit" target="_blank" class="link">Link to our e-shop</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="gallery">
          <div class="title">Your Gallery</div>
          <div class="desc">Your recently captured images will show up here!</div>
          {% if not images %}
            <div id="no-image-yet">
              <img src="{{ url_for('static', filename='assets/no-image.png') }}" alt="" height="100px">
              <h4>No image found</h4>
              <p>Capture your first image using the button below the video feed!</p>
            </div>
          {% else %}
            <div class="img-gallery">
              {% for image in images %}
                <div class="item">
                  <div class="head">
                    <img src={{image}} alt="" />
                    <div class="zoom-in">
                      <img src="/static/assets/zoom.svg" alt="" id="zoom-icon">
                    </div>
                  </div>
                  <div class="img-details">
                    <div class="img-title">environmental-nonprofit-35</div>
                    <div class="icon">
                      <div class="icon-item download">
                        <i class="ri-download-2-line"></i>
                      </div>
                      <div class="icon-item">
                        <i class="ri-share-line"></i>
                      </div>
                      <div class="icon-item">
                        <i class="ri-delete-bin-6-line"></i>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if images %}
            <div class="pagination-sec">
              <div class="pagination">
                <div class="prev-page page">
                  <img src="/static/assets/prev.svg" alt="">
                </div>
                <div class="page active-page">1</div>
                <div class="page">2</div>
                <div class="page">3</div>
                <div class="next-page page">
                  <img src="/static/assets/next.svg" alt="">
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggleGroups = document.querySelectorAll(".toggle-group");

        toggleGroups.forEach(group => {
          const header = group.querySelector(".toggle-header");
          const content = group.querySelector(".toggle-content");
          const arrow = group.querySelector(".arrow");

          group.addEventListener("click", function (e) {
            if (event.target !== header) {
              content.classList.add("show");
              header.classList.add("active");
            }
          });
          header.addEventListener("click", function (e) {
            e.stopPropagation();

            content.classList.toggle("show");
            header.classList.toggle("active");
          });
        });
      });

      let isFullScreen = false;
      function toggleFullscreen() {
        const elem = document.querySelector(".main-box");
        if (!isFullScreen) {
          if (elem.requestFullscreen) {
            elem.requestFullscreen();
          } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
          } else if (elem.webkitRequestFullscreen) {
            elem.webkitRequestFullscreen();
          } else if (elem.msRequestFullscreen) {
            elem.msRequestFullscreen();
          }
        } else {
          if (document.exitFullscreen) {
            document.exitFullscreen();
          } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
          } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
          } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
          }
        }
        isFullScreen = !isFullScreen;
      }
    </script>
  </body>
</html>
