<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Wildlife Cam Kit - naturebytes</title>

    <!-- remixicon.com -->

    <link rel="stylesheet" href="static/style.css" />
    <link rel="shortcut icon" href="/static/assets/favicon.webp" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="static/assets/logo.svg" alt="" id="large-logo" />
          <img src="static/assets/favicon.webp" alt="" id="small-logo" />
        </a>
      </div>

      <div class="links">
        <a href="/" id="link-home" class="active-link">Camera</a>
        <a href="/gallery/0">Gallery</a>
        <a href="https://shop.naturebytes.org/products/wildlife-cam-kit" class="shop-button" target="_blank">naturebytes shop ↗</a>
      </div>
    </header>
    
    <main class="main-wrapper">
      <div class="container">
        <div class="livestream">
          <div class="main-box">
            <img src="{{ url_for('video_feed') }}" alt="" id="livestream" />
            <!-- <div class="timer">
              <img src="/static/assets/record.svg" alt="" class="icon">

              <span>24:01:45</span>
            </div> -->
            <div class="maximize-screen icon" onclick="toggleFullscreen()">
              <img src="/static/assets/maximize.svg" alt="" width="30px" class="live-icon">
            </div>
            <!-- <div class="btn-sec">
              <div class="play-btn icon">
                <img src="/static/assets/play.svg" alt="" class="live-icon">
              </div>
            </div> -->

          </div>
          <div id="camera-actions">
            {% if not images %}
              <div id="tooltip">
                <span>Try taking your first photo!</span>
              </div>
            {% endif %}
            <div id="camera-type">
              <div id="swipe-container"></div>
              <span id="photo" class="mode active" onclick="setActive(0);">Photo</span>
              <span id="video" class="mode" onclick="setActive(1);">Video</span>
            </div>
            <div id="shutter" class="photo-taking" onclick="takePhoto()">
            </div>
          </div>

          <div id="camera-controls">
            <div id="camera-state">
              <h3>Camera State</h3>
              <div class="radio-wrapper">
                <label for="live-streaming" class="radio-item">
                  <img src="/static/assets/live.svg" alt="" width="36px">
                  <span class="radio-name">Live Streaming</span>
                  <input type="radio" id="live-streaming" name="camera-type" value="live-streaming" checked>
                </label>
                
                <label for="contract" class="radio-item">
                  <input type="radio" id="contract" name="camera-type" value="contract">
                  <img src="/static/assets/movement.svg" alt="" width="36px">
                  <span class="radio-name">Motion Capture</span>
                </label>
                
                <label for="part-time" class="radio-item">
                  <input type="radio" id="part-time" name="camera-type" value="part-time">
                  <img src="/static/assets/turn-off.svg" alt="" width="36px">
                  <span class="radio-name">Camera Off</span>
                </label>
            </div>
          </div>

          <!-- <div id="capturing-content">
            <h3>Capture Content</h3>
            <div id="button-wrapper">
              <button>Take a Picture</button>
              <button>Record Video</button>
            </div>
          </div> -->
        </div>
          <!-- <div class="btn-all-item">
            <a href="{{url_for('capture_video')}}">
            <div class="c-item">
              <img src="/static/assets/video.svg" alt="">
              <span>Capture video</span>
            </div>
            </a>

            <a href="{{url_for('capture_image')}}">
            <div class="c-item">
              <img src="/static/assets/camera.svg" alt="">

              <span>Capture Image</span>
            </div>
            </a>

            <a href="{{url_for('stop_camera')}}">
            <div class="c-item">
              <img src="/static/assets/stop.svg" alt="">
              
              <span>Stop camera</span>
            </div>
          </a>
          
          <a href="{{url_for('watch_live')}}">
            <div class="c-item">
              <img src="/static/assets/flip.svg" alt="">
              <span>flip camera</span>
            </div>
          </a>
          
          <div class="c-item watch-live">
            <img src="/static/assets/live.svg" alt="" width="30px">
            
            <span>Watch live</span>
          </div>
          </div> -->
        </div>
      <!-- TODO: rotate and move to setting
        Try 90 degrees 
      -->
      
        <div class="aside">
          <div class="testing">
            <div class="head-title">Testing & Settings</div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Test Camera Unit</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header" id="pir-sensor-toggle">
                  <div class="name">Test PIR Sensor</div>
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Camera Settings</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
                <h3>Rotate camera</h3>
                <div id="camera-rotation">
                  <img src="/static/assets/left90.png" alt="" width="34px">
                  <img src="/static/assets/left180.png" alt="" width="34px">
                  <img src="/static/assets/right90.png" alt="" width="34px">
                </div>

                <h3>Restart Camera</h3>
                <div id="restart-camera">
                  <button>Restart</button>
                </div>
              </div>
            </div>
          </div>
        
          <div class="help">
            <div class="head-title">Help & Assembly Guides</div>

            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Assembly Guides</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
                <div class="download-assembly">
                  <img src="static/assets/pdf.svg" alt="" />
                  <!--
                    TODO: Do we upload the pdf to the RPi? 
                          On one hand it takes up space,
                          on the other hand it might be better to have it locally then to rely on the user being able to connect to the internet
                    Ans: have it on the sd card probably
                  -->
                  <a href="https://example.com" target="_blank">Download Assembly Guide</a>
                </div>
              </div>
            </div>
            <div class="toggle-group">
              <div class="toggle-header">
                  <div class="name">Troubleshooting & Tips</div>
                  <img class="arrow" src="static/assets/arrow.svg" alt="" />
              </div>
              
              <div class="toggle-content">
                <b>Is something broken? Here's how to fix it..</b>
              </div>
            </div>
          </div>
        </div>
        
        <div class="gallery">
          <div class="title">Recent Pictures</div>
          <div class="desc">Your recently captured images will show up here!</div>
          {% if not images %}
            <div id="no-image-yet">
              <img src="{{ url_for('static', filename='assets/no-image.png') }}" alt="" height="100px">
              <h4>No image found</h4>
              <p>Capture your first image using the shutter button!</p>
            </div>
          {% else %}
            <div class="img-gallery">
              {% for image in images %}
                <div class="item">
                  <div class="head">
                    <img src={{image}} alt="" class="gallery-image" />
                    <div class="zoom-in">
                      <img src="/static/assets/zoom.svg" alt="" id="zoom-icon">
                    </div>
                  </div>
                  <div class="img-details">
                    <div class="icon">
                      <div class="icon-item download" onclick="downloadImage('{{image}}')">
                        <img src="/static/assets/download.svg" alt="">
                      </div>
                      <div class="icon-item" id="delete-icon" onclick="deleteImage('{{image}}')">
                        <img src="/static/assets/delete.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <a href="{{url_for('gallery', page=0)}}" id="view-gallery-wrapper">
              <img src="/static/assets/image.svg" alt="" width="20px">
              <p id="view-gallery">View your whole gallery</p>
            </a>
          {% endif %}
        </div>
      </div>
    </main>

    <!-- Modal for gallery image viewing -->
    <div id="imageModal" class="modal">
      <div id="modal-content-wrapper">
          <span class="close">&times;</span>
          <span class="nav-arrow left-arrow" onclick="navigate(-1)">&#10094;</span>
          <span class="nav-arrow right-arrow" onclick="navigate(1)">&#10095;</span>
          <img class="modal-content" id="modalImage">
      </div>
    </div>

    <!-- Modal for PIR testing -->
    <div class="pir-modal" id="pir-modal">
      <div class="pir-modal-content">
          <span class="close" id="close-pir-modal">&times;</span>
          <h3>PIR Sensor Test</h3>
          <p id="pir-motion-waiting">Waiting for motion detection, pin input is LOW...</p>
          <p id="pir-motion-active">Motion detected! Pin output is HIGH.</p>

          <div id="pir-motion-displayer">
          </div>
      </div>
    </div>

    <script src="/static/scripts/gallery.js"></script>
    <script src="/static/scripts/camera.js"></script>
    <script src="/static/scripts/toggles.js"></script>

    <script>
      const pirModal = document.getElementById("pir-modal");
      const openPIRModal = document.getElementById("pir-sensor-toggle");
      const closePIRModal = document.getElementById("close-pir-modal");

      openPIRModal.addEventListener("click", () => {
          pirModal.style.display = "flex";
      });

      closePIRModal.addEventListener("click", () => {
          pirModal.style.display = "none";
      });

      window.addEventListener("click", (e) => {
          if (e.target === pirModal) {
              pirModal.style.display = "none";
          }
      });

      setInterval(() => {
        pirModal.classList.toggle("active-pir");
      }, 2000);
    </script>
  </body>
</html>
