[Unit]
Description=Start the camera service

[Service]
WorkingDirectory=/usr/local/src
ExecStart=/usr/local/bin/python3 /usr/local/src/main.py photos
SyslogIdentifier=SRV_CAMERA
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target