[Unit]
Description=Start the camera service
After=web.service

[Service]
WorkingDirectory=/home/pi/Naturebytes-RaspPi-Dev
ExecStart=/usr/bin/python3 /usr/local/src/main.py
SyslogIdentifier=SRV_CAMERA
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target