[Unit]
Description=Start the photo gallery service

[Service]
WorkingDirectory=/usr/local/src
ExecStart=/usr/local/bin/python3 /usr/local/src/app.py
SyslogIdentifier=SRV_GALLERY
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target